<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kangwon.a356.kangwonunivapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_appimage"
        android:label="강대앱 (3:56)"
        android:roundIcon="@mipmap/ic_launcher_appimage_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity">

        </activity>

        <activity android:name=".activity.SignUpActivity">

        </activity>

        <activity android:name=".activity.LoginActivity">

        </activity>

    </application>

</manifest>